body {
    min-width: 960px;
    min-height: 100vh;
    margin: 0;
    background-color: #101010;
    font-family: 'Montserrat', sans-serif;
}
#header {
    width: 940px;
    height: 70px;
    background-color: #2e2e2e;
}
#nav {
    height: 70px;
    margin-bottom: 20px;
}
#logo {
    z-index: 10;
    position: absolute;
    height: 150px;
    background-color: #2e2e2e;
}
#logo-container {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 140px;
}
#header-container {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 140px;
}
#logo-container img {
    height: 100%;
    width: 100%;
}
#header-death {
    font-size: 40px;
    color: #a65bc0;
}
#header-code {
    font-size: 40px;
    color: #099fd9;
}
.nav-item {
    height: 100%;
    text-align: center;
}
.nav-item a {
    font-size: 24px;
    line-height: 70px;
    color: white;
    margin: auto;
    text-decoration: none;
}
.nav-item a:hover {
    text-decoration: underline;
}
.center-vh {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-vh div {
    text-align: center;
}


#slider {
    margin-bottom: 20px;
}

#shares {
    margin-bottom: 20px;
}
#shareGraph {
    height: 300px;
    background-color: navy;
}
#shareGraph > img {
    width: 100%;
    height: 100%;
}
#sharePrice {
    padding-top: 30px;
    height: 300px;
    background-color: #464646;
    text-align: center;
}
#sharePrice > p {
    margin-top: 18px;
    color: white;
}
#sharePrice > h2 {
    font-size: 36px;
    color: #06fd00;
    margin-bottom: 120px;
}
#sharePrice > a {
    margin-bottom: 30px;
    font-size: 24px;
    color: white;
    background-color: #a45dc1;
    display: box;
    padding: 5px;
}

#previousWork {
    margin-bottom: 20px;
}
#previousWork .caption {
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #099fd9;
}

#bigFooter {
    height: 200px;
    margin-bottom: 20px;
}
#bigFooter > div {
    padding: 10px;
    height: 100%;
}
#bigFooter > div > h2 {
    color: #099fd9;
    font-size: 24px;
}
#bigFooter > div > p > a {
    color: #a65bc0;
    font-size: 24px;
}
#bigFooter > div > p {
    color: #a65bc0;
    font-size: 20px;
}


#smallFooter {
    height: 40px;
    background-color: black;
}
#smallFooter > #right, #left {
    line-height: 40px;
    height: 40px;
}
#smallFooter > #right {
    text-align: right;
}
#smallFooter > #left {
    text-align: left;
}
#smallFooter > #left > a > img {
    margin-left: 2px;
    width: 38px;
    height: 38px;
}
#smallFooter a {
    color: white;
    text-decoration: none;
}
#smallFooter a:hover {
    text-decoration: underline;
}

#contact {
    text-align: center;
    height: 700px;
}
#contact > h1 {
    color: #099fd9;
    margin-bottom: 20px;
}
#contact > #right {
    height: 80%;
    position: relative;
}
#contact > #right > div {
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%);  
    width: 100%;
    font-size: 28px;
    color: white;
}
#contact > #left {
    color: white;
}
#contact > #right > div > p {
    margin-bottom: 20px;
}
#contact > #left > form > label {
    display: block;
}
#contact > #left > form > input {
    width: 260px;
    color: black;
}
#contact > #left > form > textarea {
    min-height: 100px;
    max-height: 280px;
    resize: vertical;
    width: 250px;
    line-height: 18px;
    color: black;
    height: 120px;
}
#contact > #left > form > input[type=submit] {
    margin-top: 20px;
}